extend base

block layout
  .container
    .row
      .col-md-4.col-md-offset-4
        .login-panel.panel.panel-default
          if success
            .panel-heading
              h3.panel-title All set!
            .panel-body
              .alert.alert-success=success
          else
            .panel-heading
              h3.panel-title Please Sign In
            .panel-body
              form(role='form' method='POST')
                fieldset
                  if error
                    .alert.alert-danger=error
                  .form-group
                    input.form-control(placeholder='login_x', name='login', type='text', autofocus='', value=login)
                  button.btn.btn-lg.btn-success.btn-block(type='submit') Send me a login link
